apiVersion: apps/v1
kind: Deployment
metadata:
  name: learn-docker-k8s
spec:
  replicas: 1
  selector:
    matchLabels:
      app: learn-docker-k8s
  template:
    metadata:
      labels:
        app: learn-docker-k8s
    spec:
      containers:
        - name: api
          image: aditya747599/learn-docker-k8s:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 3
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 3
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: learn-docker-k8s
spec:
  type: ClusterIP
  selector:
    app: learn-docker-k8s
  ports:
    - name: http
      port: 80
      targetPort: 8000
